<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row *ngFor="let item of data">
    <ion-card (click)="presentToast(item.title)">
      <ion-card-header>
        <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
        <ion-card-title>{{item.description}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="7">
<img src="../../assets/{{item.image}}"/>
          </ion-col>
          <ion-col size="5">
<h1>RM {{item.price}}</h1>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>
